
.custom-footer {
  background-color: #36454f;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.custom-footer img {
  display: block;
  margin: 0 auto 10px auto;
}

.bright-green {
  color: #66ff00; /* Bright green */
}
